// Colors
$lightOrange:#faf3e0;
$skinColor:#eabf9f;
$darkSkinColor:#b68973;
$darkBlue:#1e212d;

// Fonts
$font-sm:0.875rem; // 14px
$font-med:1.125rem; // 18px
$font-lg:1.25rem; //20px
$font-xlg: 4rem; //64px